.checkOut {
  margin: 25px 25px 25px 25px;
  color: white;
  background-color: black;
  width: 90%;
  border-radius: 10px;
  min-height: 50px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
  -webkit-box-pack: center;
  justify-content: center;
  /*box-sizing: border-box;*/

}
.header-space {
  /*margin-top: 25px;*/
  height: 50px;
}

