<header >
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top header">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a  routerLink="" class="nav-link navbar-brand" aria-current="page" href="#">Tea 180</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="/menu"
               routerLink="/menu" >Menu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
      <div class="nav-item navbar-nav">
        <a class="nav-link"
           (click)="onCartClick()">Cart</a>
      </div>
      <div class="" id="google-button"></div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
