<div class="row">
  <div class="column left"></div>
  <div class="column middle">
<!--    check sign in-->

  <div >
    <span id="welcome" class="welcomeText" >
      <span >Welcome <span id="customer-name">{{customerName}}</span> to {{shopName}}</span>
    </span>
    <span id="remindSignIn">Please signin to continue</span>

  </div>
    <!--    enter order name, phone number-->
  <div  id="order-form">
    <p>Please add below info for your order</p>
    <form [formGroup]="form">
      <div class="form-group col-6" >
        <label for="orderName">Order Name</label>
        <input type="text" class="form-control" id="orderName"
               placeholder="{{customerName}}" [value]="customerName" >
      </div>
      <div class="form-group col-6">
        <label for="phone-number">Phone Number</label>

        <input class="form-control"  type="tel" appPhoneMask  formControlName="phone" id="phone-number"  >
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmitOrderForm()">Submit</button>
    </form>
  </div>

  </div>

  <div class="column right">
    <app-cart></app-cart>
  </div>
</div>
