<div class="row">
  <div class="column left"></div>
  <div class="column middle">
<!--    check sign in-->

  <div>
    <span id="welcome"></span>
  </div>
    <!--    enter order name, phone number-->
  <div>
    <form >
      <div class="form-group">
        <label for="orderName">Order Name</label>
        <input type="text" class="form-control" id="orderName"
               placeholder="enter your name">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
    <div>

    </div>
  </div>

  <div class="column right">
    <app-cart></app-cart>
  </div>
</div>
